steamKey: http://steamcommunity.com/dev/apikey
mods:
- screepsmod-auth
- screepsmod-admin-utils
- screepsmod-server-stats-test
- screepsmod-mongo
#- screepsmod-market needs more testing I propose try dynamic first
- screepsmod-dynamicmarket
bots:
  bot: ./bots/dist
serverConfig: # This section requires screepsmod-admin-utils to work
  welcomeText:  |
    <h1 style="text-align: center;">Performance server</h1>
serverStats: 
  debug: true
  rawExports: true
  secret_key: "secret"
  usersStats: 2
  roomsObjectsStats: 2
  roomsIntentsStats: 2
  runEveryTicks: 1
  relayPort: undefined
env:
  backend:
    CLI_HOST: 0.0.0.0
    
